@use "./functions" as *;
@use "./component/nav";
@use  "./variables" as *;

.about-me{
        max-width: pixTOrem(1140px);
        justify-content: space-between;
        margin: auto;
        padding-inline: $pad;
        flex-flow: row wrap;

        p{
                max-width: 40ch;
        }
}

.right{
        img{
                width: pixTOrem(400px);
                min-width: pixTOrem(60px);
        }
}
.left{
        h1{
                text-transform: capitalize;
                font-size: pixTOrem(42px);
        }
        .wrapper:first-child{
                margin-top: pixTOrem(40px);
        }
        .wrapper + .wrapper{
                margin-top: pixTOrem(24px);
        }
}