@use './functions' as *;
@use "./variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&display=swap');
:root{
        font-family: 'Montserrat', sans-serif;
}
.flex{
        display: flex;
}
main{
        margin-top: pixTOrem(60px);
}
.contain{
        max-width: pixTOrem(1140px);
        justify-content: space-between;
        margin: auto;
        padding-inline: $pad;
}